{% extends 'todos/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <p class="card-text">Description: {{ todo.description }}</p>
            <p class="card-text">Due Date: {{ todo.due_date }}</p>
            <p class="card-text">Status: {% if todo.status %}Done{% else %}Pending{% endif %}</p>
            <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}
